.a{
    color:  #444;
    font-size: 70px;
}
.b{
    font-size: 30px;
}

.c{
    color: #444;
    font-size: 70px;
}
.d{
    color: coral;
   font-size: 50px;
}
.e{
    font-size: 25px;
}
.f{
height: 100px;
width:200px;
}
.g{
height: 100px;
width:200px;
}
.h{
height: 100px;
width:200px;
}




.i{
    color: coral;
    font-size: 50px;
}
.j{
height: 100px;
width:200px;
}
.k{
height: 100px;
width:200px;
}
.l{
height: 100px;
width:200px;
}
.m{
    font-size: 25px;
}
.n{
    color: coral;
    font-size: 50px;
}
.o{
    font-size: 25px;
}
.p{
height: 100px;
width:200px;
}


.q{   
 color: coral;
font-size: 50px;
}
.r{font-size: 25px;}
.s{
height: 100px;
width:200px;
}


.t{ color: coral;
    font-size: 50px;}
.u{font-size: 25px;}
.v{height: 100px;
    width:200px;}


.w{
    color: coral;
    font-size: 50px;
}
.x{
    font-size: 25px;
}
.y{
    height: 100px;
    width:200px;
}


.z{
    color: coral;
    font-size: 50px;
}
.aa{
    font-size: 25px;
}
.bb{
    height: 100px;
    width:200px;
}


.cc{
    color: coral;
    font-size: 50px;
}
.dd{
    font-size: 25px;
}
.ee{
    height: 100px;
    width:200px;
}




.ff{
    color:  #444;
    font-size: 70px;
}

.ii{
    font-size: 25px;
}
.xx{
    color:  #444;
    font-size: 70px;
}
.zz{
    font-size: 25px;
}
.yy{
    height: 200px;
    width:400px;
}
